@font-face {
    font-family: 'ChunkFiveRegular';
    src: url('fonts/chunkfive.eot');
    src: url('fonts/chunkfive.eot?#iefix') format('embedded-opentype'),
        url('fonts/chunkfive.woff') format('woff'),
        url('fonts/chunkfive.ttf') format('truetype'),
        url('fonts/chunkfive.svg#ChunkFiveRegular') format('svg');
}

/* font convert: www.fontsquirrel.com */
/* 

The various font formats should 
appear in your code in this order:
1: eot
2: woff
3: ttf/otf
4: svg

*/