body{
    font-family: Arial, Helvetica, sans-serif;
}

h1,h2,h3{
    color: #ee3e80;
    
}

p{
    color: #665544;
}


/* 
    Boxes:
    Width-height
    Borders(color,width,style)
    Background color and images
    Position in the browser window
*/

/* 
    Text:
    Typeface
    Size
    Color
    Itlicsmbold,uppercase
    lowercase, small-caps
*/

/* 
    Specific
*/